.nav {
    grid-area: n;
    /*//background-color: darkgrey;*/
    background: #ECECF9;

    padding: 20px;
}
.item a {
    color: black;
    text-decoration: none;
}

.item a.activeLink{
    font-weight: bold;
}
