.descriptionBlock{
    padding: 10px;
}

.descriptionBlock img{
    width: 300px;
    height: 300px;
    border-radius: 15px;
}
.profilePhoto {
    max-width: 300px;
}
.profilePhoto input{
    display: block;
    visibility: hidden;
}
.profilePhoto:hover input{
    visibility: initial;


}
.contacts{
    padding-left: 20px;
}


.profilePhoto input::-webkit-file-upload-button {
    visibility: hidden;
}
.profilePhoto input::before {
    content: 'Change profile photo';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}
.profilePhoto input:hover::before {
    border-color: black;
}
.profilePhoto input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

